body{
    margin:0;
    background-color:#0ff;
}
.main{
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.content{
    width: 70%;
    height: 100%;
    border-style:solid;
    border-width: 40px;
    border-color: blue;
    
    background-color: #0ff;
    color:white;
    font-family:'JetBrains Mono';
    text-align:center;

    margin:10px;

    display:flex;
    align-items:center;
    justify-content: center;
}
.content img{
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}